# current environment
NODE_ENV=development
# Port To Be Used
port=3000

# DATABASE env variables
# the name you chose for the database you created locally for postgres

# database user
DB_NAME=locuskey
# database host(global--->broadcast)
DB_HOST=127.0.0.1
# database username (probably won't be changed)
DB_USER=postgres
database password (the password required to access the database server)
DB_PASSWORD=12345678

NODE_ENV = development
port = 3001
DB_NAME=couchpotato
DB_USER=postgres
DB_HOST=127.0.0.1
DB_PASSWORD=123456
secret=verysecret
trakt_ClientID=
trakt_secret=
request example=
tmdb_api_key=
tmdb_readAccess_token=