# current environment
NODE_ENV=development
# Port To Be Used
port=3000

# DATABASE env variables
# the name you chose for the database you created locally for postgres

# database user
DB_NAME=locuskey
# database host(global--->broadcast)
DB_HOST=127.0.0.1
# database username (probably won't be changed)
DB_USER=postgres
database password (the password required to access the database server)
DB_PASSWORD=12345678

NODE_ENV = development
port = 3001
DB_NAME=couchpotato
DB_USER=postgres
DB_HOST=127.0.0.1
DB_PASSWORD=123456
secret=verysecret
trakt_ClientID=e7a70d9fcf328e55f903e900ccdbdd508818be2880fd5a43e8491a3020b64a1e
trakt_secret=f7a496f5f7f6103bc6c945817f27a26017dcb48b60e4eb3a19e57f16abffd6bf
request example=https://api.themoviedb.org/3/movie/550?api_key=c33cf64a576bb3748c44f3f18deedcf1
tmdb_api_key=c33cf64a576bb3748c44f3f18deedcf1
tmdb_readAccess_token=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjMzNjZjY0YTU3NmJiMzc0OGM0NGYzZjE4ZGVlZGNmMSIsInN1YiI6IjYwM2ExNDFjY2I1YzhlMDA0ZTIyNzU0MyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.7PQjNpfcUtBaPd94OubQ1fRclGtS1IeS7owSMQ2ySqI